# Print Statement

In [4]:
#Python Interpreted, Interactive, object oriented

In [5]:
print('Hello World')

Hello World

In [6]:
print(12345)

12345

In [7]:
print('12345')

12345

In [10]:
print ("Hello, Python!") #parenthesis important for printing the statements

Hello, Python!

# Python Identation

In [12]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

if 5 > 2:
print("Five is greater than two!") 
#these will give indentation error

# Variables Declaration

In [56]:
x = 1
y = 2

In [57]:
print(x)

1

In [58]:
print(y)

2

In [59]:
print('x') # these will give output a because single quotes has passed in print statement

x

In [60]:
print('a',x,'Hello')

a 1 Hello

# Types of variables

In [24]:
#Numerical Data Types  =  Integers.Float.Complex Numbers.Boolean.
#string 
#list
#tupule
#dictionary

In [25]:
#Numerical Data Types  =  Integers
a = 12
type(a)

int

In [26]:
#Numerical Data Types  =  float
b = 20.3
type(b)

float

In [38]:
#Numerical Data Types  =  complex numbers
c = (2e+3J)
type(c)

complex

In [35]:
#Numerical Data Types  =  Boolean
d = True
type(d)

bool

In [40]:
#string
e = 'kamini Nakte'
type(e)

str

In [45]:
#List Cluster of all the daata,,,,Mutable
f = ['kamini',21,2.2,3+3j]
type(f)

list

In [46]:
#Tupule Cluster of all the data,,,Notmutable
g = ('kamini',21,2.2,3+3j)
type(g)

tuple

In [50]:
# Dictionary,,,Key value pair
h = {'Name': 'Kamini'}
type(h)

dict

# variables different variations

In [61]:
x

1

In [62]:
y

2

In [64]:
print(x, y)

1 2

In [75]:
p=q = 1 # Assigning single value to multiple variables

In [76]:
print(p, q)

1 1

In [79]:
p,q ='kamini','Nakte' #Assigning multiple values to multiple variables

In [80]:
print(p, q)

kamini Nakte

In [74]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [84]:
# but not in case of numbers it will use as  a operators
x = 5
y = 10
print(x + y)

15

x = 5
y = "John"
print(x + y)
#these will give error

In [104]:
#we can do by these
x = 5
y = "John"
print(x, y)

5 John

In [106]:
#deleting the varibale
print(x)
del x  
print(x)

5

NameError: name 'x' is not defined

# Local variable ......It is not accessible outside the block

In [87]:
def greet():
    name = 'Steve'
    print('Hello ', name)

In [88]:
greet()

Hello  Steve

In [89]:
name

NameError: name 'name' is not defined

# Global Variable

In [90]:
name='John'
def greet():
    print ("Hello ", name)

In [91]:
greet()

Hello  John

In [92]:
name

'John'

# taking input  from users

In [93]:
a = input('Enter your name : ')

Enter your name : kamini

In [94]:
a = input('Enter your name : ')

Enter your name : 243

In [99]:
#### sometimes if we want only integers from the users we use the keyword int
a = int(input('Enter your mobile number : '))

Enter your mobile number : 1234

In [100]:
a = int(input('Enter your mobile number : '))

Enter your mobile number : kamini

ValueError: invalid literal for int() with base 10: 'kamini'

# Basic Operators

1. Arithmetic Operators

In [108]:
a = 10
b = 20

In [109]:
#addition
c = a+b
print('addition is : ',c)

addition is :  30

In [110]:
#Sub
c = a-b
print('addition is : ',c)

addition is :  -10

In [111]:
#Mul
c = a*b
print('addition is : ',c)

addition is :  200

In [112]:
#div
c = a/b
print('addition is : ',c)

addition is :  0.5

In [113]:
#Modulus  It returns the remainder
c = a%b
print('addition is : ',c)

addition is :  10

In [114]:
#Exponentiation the exponent is referred to the number of times a number is multiplied by itself
c = a**b
print('addition is : ',c)

addition is :  100000000000000000000

In [115]:
#Floor division an operation in Python that divides two numbers and rounds the result down to the nearest integer
c = a//b
print('addition is : ',c)

addition is :  0

2. comparison operators

In [116]:
a = 10
b = 10 
c = 20

In [121]:
#== equal to 
print(a==b)

True

In [122]:
print(a==c)

False

In [123]:
#!= not equal to 
print(a!=b)

False

In [127]:
#> greater than
print(a>b)

False

In [129]:
#> less than
print(a<c)

True

In [130]:
#>= greater than equal to 
print(a>=b)

True

In [131]:
#<= less than equal to 
print(a<=b)

True

3. Assignment operators

In [134]:
a = 21
b = 10
c = 0

c = a + b # 31
print ("Line 1 - Value of c is ", c)

c += a # add and 31+21 = 52
print ("Line 2 - Value of c is ", c) 

c *= a # multiply and  52*21
print ("Line 3 - Value of c is ", c)

c /= a # divide and  1092/21
print ("Line 4 - Value of c is ", c)

c  = 2
c %= a  
print ("Line 5 - Value of c is ", c)

c **= a
print ("Line 6 - Value of c is ", c)

c //= a
print ("Line 7 - Value of c is ", c)

Line 1 - Value of c is  31
Line 2 - Value of c is  52
Line 3 - Value of c is  1092
Line 4 - Value of c is  52.0
Line 5 - Value of c is  2
Line 6 - Value of c is  2097152
Line 7 - Value of c is  99864

In [ ]:
3. Logical operators

In [135]:
# and
x = 5

print(x > 3 and x < 10)

True

In [138]:
#or
x = 5

print(x > 3 or x < 4)

True

In [141]:
#not
x = 5

print(not(x > 3 and x < 10)) #output will be true if there will be not

False

4. membership operators

In [143]:
# in
x = ["apple", "banana"]

print("banana" in x)

True

In [144]:
# not in
x = ["apple", "banana"]

print("banana" not in x)

False

5. Identity operator

In [145]:
# is
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [146]:
# is not
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

# strings

In [147]:
a = 'kamininakte'
print(a)

kamininakte

In [153]:
# Accessing  
print(a[-1::-1])

etkaninimak

In [161]:
#update 
a = 'kamini yashwant'
print(a)
print ("Updated String :- ", a[:7] + 'Nakte')

kamini yashwant
Updated String :-  kamini Nakte

In [172]:
#concatenation +
a='kamini  '
b='nakte'
print(a+b)

kamini  nakte

In [173]:
#repitation *
print(a*8)

kamini  kamini  kamini  kamini  kamini  kamini  kamini  kamini

In [174]:
# slice
a[2]

'm'

In [175]:
#range slice
a[0:6]

'kamini'

In [176]:
#len of string
print(len(a))

8

In [181]:
#in
a = 'hello'
print('l' in a)

True

In [182]:
#notin
a = 'hello'
print('l' in a)

True

In [184]:
#lower case, upper case, isupper islower(check weather it is present or not), capitlize(only 1st word letter capitalize),title(all 1st letter capitalize)
a = 'kamini'
print('1 : ', a.upper())

1 :  KAMINI

In [186]:
a = 'KAMINI'
print('2 : ', a.lower())

2 :  kamini

In [191]:
a = 'kamini'
print('3 : ', a.isupper())

3 :  False

In [192]:
a = 'kamini'
print('4 : ', a.islower())

4 :  True

In [194]:
a = 'kamini'
print('5 : ', a.capitalize())

5 :  Kamini

In [197]:
a = 'my name is kamini yashwant nakte'# same as istitle()
print('6 : ', a.title())

6 :  My Name Is Kamini Yashwant Nakte

In [204]:
a = '1234'
print('7 : ', a.isdigit())

7 :  True

In [208]:
a = '1234'
print('8 : ', a.isnumeric())

8 :  True

In [221]:
# The strip() method removes any whitespace from the beginning or the end
a = "  kamini nakte   "
print(a.strip())

kamini nakte

In [215]:
# replace all over
a = "kamini nakte"
print(a.replace("k", "J"))

Jamini naJte

In [218]:
#split 
a = "kamini, nakte , was, an, innocent, girl"
print(a.split(","))

['kamini', ' nakte ', ' was', ' an', ' innocent', ' girl']

In [224]:
#Escape Characters https://www.w3schools.com/python/python_strings_escape.asp