
# lists

In [12]:
x = [1,2,3,'Kamini',4,5.3,['Apple','Mango'],10] # list allow duplicates values

In [2]:
x

[1, 2, 3, 'Kamini', 4, 5.3, ['Apple', 'Mango'], 10]

In [3]:
type(x)

list

In [4]:
print(len(x))

8

In [5]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [7]:
# accessing
print(x[3])

Kamini

In [8]:
print(x[0::2])

[1, 3, 4, ['Apple', 'Mango']]

In [9]:
print(x[-2][-1][0]) #mango M

M

In [29]:
#update (change item value in list)
list = ["apple", "banana", "cherry"]
print ("Value available at index 2 : ")
print (list[2])
list[2] = 'Watermelon';
print ("New value available at index 2 : ")
print (list[2])
print(list)

Value available at index 2 :
cherry
New value available at index 2 :
Watermelon
['apple', 'banana', 'Watermelon']

In [30]:
# update (insert new item)
print(list)
list.insert(2,"chiku")
print(list)

['apple', 'banana', 'Watermelon']
['apple', 'banana', 'chiku', 'Watermelon']

In [31]:
#del value in list
print(list)
del list[0]
print('After deleting items available are : ',list)

['apple', 'banana', 'chiku', 'Watermelon']
After deleting items available are :  ['banana', 'chiku', 'Watermelon']

Basic list Operation

In [33]:
#length
print(len(list))

3

In [40]:
#Concatenation
list1 = ["apple", "banana", "cherry"]
print('1st list  : ',list1)
list2 = [1, 5, 7, 9, 3]
print('2nd list  : ',list2)
print('concatenation of 2 list are : ',list1+list2)

1st list  :  ['apple', 'banana', 'cherry']
2nd list  :  [1, 5, 7, 9, 3]
concatenation of 2 list are :  ['apple', 'banana', 'cherry', 1, 5, 7, 9, 3]

In [42]:
#Repetition
print(list1*2)
print(list1[0]*2)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']
appleapple

In [44]:
#Membership
print('mango' in list1)
print('apple' in list1)

False
True

Build in function in python

In [45]:
x = [1,2,3,'Kamini',4,5.3,['Apple','Mango'],10] # list allow duplicates values
print(x)

[1, 2, 3, 'Kamini', 4, 5.3, ['Apple', 'Mango'], 10]

In [47]:
a = ["apple", "banana", "cherry"]
print(a)

['apple', 'banana', 'cherry']

In [51]:
#compare
print cmp(x,a)

SyntaxError: invalid syntax (Temp/ipykernel_7596/2239555690.py, line 2)

In [55]:
#max and min in list
list2 = [1, 5, 7, 9, 3]
print(max(list2))
print(min(list2))

9
1

In [58]:
#convert tupule in to list
a = ("apple", "banana", "cherry")
print('tupule is : ',a)
b = list(a)
print('tupule to list : ',b)  # working in google colab

tupule is :  ('apple', 'banana', 'cherry')

TypeError: 'list' object is not callable

Other list methods are:

In [100]:
x = [1,2,3,'Kamini',4,5.3,['Apple','Mango'],10] # list allow duplicates values

In [49]:
x

[1, 2, 3, 'Kamini', 4, 5.3, ['Apple', 'Mango'], 10]

In [89]:
#append add object at the end
x.append(2022)
x

[['Apple', 'Mango'], 5.3, 4, 'Kamini', 3, 2, 1, 2022]

In [51]:
#count() returns count of how many times obj occurs in list.
x.count(2022)

1

In [52]:
# extend() appends the contents of seq to list.
print(x)
c = ['Riddhi','viddhi','sneha']
x.extend(c)

[1, 2, 3, 'Kamini', 4, 5.3, ['Apple', 'Mango'], 10, 2022]

In [101]:
#change the list items using indexing 
x[1]=200
x

[1, 200, 3, 'Kamini', 4, 5.3, ['Apple', 'Mango'], 10]

In [102]:
#change the range of list items using indexing 
x[1:3] = ["blackcurrant", "watermelon"]
print(x)

[1, 'blackcurrant', 'watermelon', 'Kamini', 4, 5.3, ['Apple', 'Mango'], 10]

In [103]:
# Change the second value by replacing it with two new values:
x[1:2] = ["black", "white"]
print(x)

[1, 'black', 'white', 'watermelon', 'Kamini', 4, 5.3, ['Apple', 'Mango'], 10]

In [113]:
#index() returns the lowest index in list that obj appears.
x = [1,2,3,'Kamini',4,5.3,['Apple','Mango'],10]
x.index('Kamini')

3

In [114]:
x.index('Mango')

ValueError: 'Mango' is not in list

In [80]:
#insert() inserts object obj into list at offset index.
x.insert(1,'Tina')
x

[1, 'Tina', 2, 3, 'Kamini', 4, 5.3, ['Apple', 'Mango'], 10]

In [81]:
#remove() method removes the specified item.
x.remove('Tina')
x
# to remove complete list del listname

[1, 2, 3, 'Kamini', 4, 5.3, ['Apple', 'Mango'], 10]

In [82]:
#pop() method removes the specified index/ if not mentioned than remove the end element
x.pop()
x

[1, 2, 3, 'Kamini', 4, 5.3, ['Apple', 'Mango']]

In [85]:
# reverse() reverses objects of list in place.
x.reverse()
x

[['Apple', 'Mango'], 5.3, 4, 'Kamini', 3, 2, 1]

In [107]:
# sort 
#alphabets
a = ["orange", "mango", "kiwi", "pineapple", "banana"]
a.sort()
print(a) 

#numeric
b  = [100, 50, 65, 82, 23]
b.sort()
print(b)

#descending
c = ["orange", "mango", "kiwi", "pineapple", "banana"]
c.sort(reverse = True)
print(c)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]
['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [86]:
#check weather items presesnt in list 
if "Kamini" in x:
  print("Yes, 'Kamini' is in the list x")

Yes, 'Kamini' is in the list x

In [88]:
if "Yashwant" in x:
    print("Yes, 'Yashwant' is in the list x")
else:
    print("No, 'Yashwant' is in the list x")

No, 'Yashwant' is in the list x

In [104]:
#list comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [108]:
#copy list 
list = ["apple", "banana", "cherry"]
mylist = list.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [112]:
#joinlist 
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

#join by append list4 in list3
list3 = ["a", "b" , "c"]
list4 = [1, 2, 3]

for x in list4:
  list3.append(x)

print(list3)

#join by extend
list5 = ["a", "b" , "c"]
list6 = [1, 2, 3]

list5.extend(list6)
print(list5)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

In [115]:
# delete list 
del list3

In [116]:
print(list3)

NameError: name 'list3' is not defined

# Dictionary

In [198]:
#in dictionaries duplicate are not allowed 
a = {
    'fruits':['mango','apple','banana'],
    'Even':[2,4,6,8], 
    'pi':3.14
}

In [130]:
print(a)

{'fruits': ['mango', 'apple', 'banana'], 'Even': [2, 4, 6, 8], 'pi': 3.14}

In [131]:
#keys and values 
a.keys()

dict_keys(['fruits', 'Even', 'pi'])

In [132]:
a.values()

dict_values([['mango', 'apple', 'banana'], [2, 4, 6, 8], 3.14])

In [133]:
type(a)

dict

In [134]:
#length of dictionary
print(len(a))

3

In [146]:
#accessing elements in list
a1 = a['fruits']
a1

['mango', 'apple', 'banana']

In [147]:
a2 = a.get('fruits')
a2

['mango', 'apple', 'banana']

In [1]:
# add items in dictionary
a = {
    'fruits':['mango','apple','banana'],
    'Even':[2,4,6,8], 
    'pi':3.14
}
x = a.keys()
print(x)
a['colour'] = 'Red' 
print(x)

dict_keys(['fruits', 'Even', 'pi'])
dict_keys(['fruits', 'Even', 'pi', 'colour'])

In [2]:
print(a)

{'fruits': ['mango', 'apple', 'banana'], 'Even': [2, 4, 6, 8], 'pi': 3.14, 'colour': 'Red'}

In [151]:
#change values in dictonary
a = {
    'fruits':['mango','apple','banana'],
    'Even':[2,4,6,8], 
    'pi':3.14
}
x = a.values()
print(x)
a['pi'] = '3' 
print(x)

dict_values([['mango', 'apple', 'banana'], [2, 4, 6, 8], 3.14])
dict_values([['mango', 'apple', 'banana'], [2, 4, 6, 8], '3'])

In [209]:
# string representation of a dictionary.
#str(dict)
a = {
    'fruits':['mango','apple','banana'],
    'Even':[2,4,6,8], 
    'pi':3.14
}
print(str(a))

{'fruits': ['mango', 'apple', 'banana'], 'Even': [2, 4, 6, 8], 'pi': 3.14}

In [153]:
# to check weather key exist or not 
a = {
    'fruits':['mango','apple','banana'],
    'Even':[2,4,6,8], 
    'pi':3.14
}
if "fruits" in a:
  print("Yes, 'fruits' is one of the keys in the a dictionary")

Yes, 'fruits' is one of the keys in the a dictionary

In [156]:
a = {
    'fruits':['mango','apple','banana'],
    'Even':[2,4,6,8], 
    'pi':3.14
}
if "Hobbies" in a:
    print("Yes, 'Hobbies' is one of the keys in the a dictionary")
else:
     print("No, 'Hobbies is not a keys in the a dictionary")

No, 'Hobbies is not a keys in the a dictionary

In [169]:
a

{'fruits': ['mango', 'apple', 'banana'], 'Even': [2, 4, 6, 8], 'pi': 3.14}

In [170]:
# Typecasting 

a.keys()

dict_keys(['fruits', 'Even', 'pi'])

In [181]:
v = list(a.keys())

TypeError: 'list' object is not callable

In [184]:
# get items 
a.items()

dict_items([('fruits', ['mango', 'apple', 'banana']), ('Even', [2, 4, 6, 8]), ('pi', 3.14)])

In [199]:
# update whole key value or only value 
a
a.update({'prime':[1,3,5,7]})
a

{'fruits': ['mango', 'apple', 'banana'],
 'Even': [2, 4, 6, 8],
 'pi': 3.14,
 'prime': [1, 3, 5, 7]}

In [200]:
a.update({'fruits':'chiku'})
a

{'fruits': 'chiku', 'Even': [2, 4, 6, 8], 'pi': 3.14, 'prime': [1, 3, 5, 7]}

In [201]:
a

{'fruits': 'chiku', 'Even': [2, 4, 6, 8], 'pi': 3.14, 'prime': [1, 3, 5, 7]}

In [204]:
#pop to remove
a = {
    'fruits':['mango','apple','banana'],
    'Even':[2,4,6,8], 
    'pi':3.14
}
a.pop('fruits')
print(a)

{'Even': [2, 4, 6, 8], 'pi': 3.14}

In [207]:
#Remove the last item from the dictionary: using pop item 
a = {
    'fruits':['mango','apple','banana'],
    'Even':[2,4,6,8], 
    'pi':3.14
}
a.popitem()
print(a)

{'fruits': ['mango', 'apple', 'banana'], 'Even': [2, 4, 6, 8]}

In [205]:
#copy the dictionary in to new dictionary using copy
a = {
    'fruits':['mango','apple','banana'],
    'Even':[2,4,6,8], 
    'pi':3.14
}
newdict = a.copy()
print(newdict)

{'fruits': ['mango', 'apple', 'banana'], 'Even': [2, 4, 6, 8], 'pi': 3.14}

In [206]:
#copy the dictionary in to new dictionary using dict
a = {
    'fruits':['mango','apple','banana'],
    'Even':[2,4,6,8], 
    'pi':3.14
}
newdict = dict(a)
print(newdict)

{'fruits': ['mango', 'apple', 'banana'], 'Even': [2, 4, 6, 8], 'pi': 3.14}

In [193]:
# delete on;y one key value pair
del a['fruits']

In [194]:
a

{'Even': [2, 4, 6, 8], 'pi': 3.14}

In [195]:
# delete the whole dictionary 
a.clear()

In [196]:
a

{}

In [212]:
# set default (to get value only) (showing model mustang because the value is their in the dict )
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model",'bamu')

print(x)

Mustang

In [213]:
#(what if the  value is not their in the dict ) these willl pass the value the value which we have pass as value in the print statement 
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("colur",'yellow')

print(x)

yellow

# Range

In [216]:
#The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default),
#and ends at a specified number.

In [217]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [224]:
list(range(5))

TypeError: 'list' object is not callable

In [230]:
list(range(2,15,3))

TypeError: 'list' object is not callable

In [231]:
for x in range(5,55,5):
    print(x)

5
10
15
20
25
30
35
40
45
50

In [232]:
x =  0 
someList = []
for x  in range(20):
    someList.append(x)
    if(x==10):
        break
print(someList)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [233]:
x =  0 
someList = []
for x  in range(20): 
    if(x%5==0):
        continue
    someList.append(x)
print(someList)

[1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 13, 14, 16, 17, 18, 19]

# Functions

In [256]:
def add(a,b):    
    c= a+b
    return c

In [257]:
add(7,7)

14

In [258]:
def sub(a,b):
    c = a-b
    return c

In [259]:
sub(-1,9)

-10

In [260]:
def add1(a,b=5):   
    c= a+b
    return c

In [251]:
add1(13) # 13+5 = 18

18

In [253]:
def sub1(a,b=0):
    c = a-b
    return c

In [254]:
sub1(10)

10

In [255]:
sub1(10,19)

-9

In [235]:
def function(a):
  print(a + " nakte")

function("kamini")
function("chaitali")
function("manthan")

kamini nakte
chaitali nakte
manthan nakte

In [ ]:
#pass function

In [263]:
def myfunction():
    
    pass

# having an empty function definition like this, would raise an error without the pass statement

# lambda

In [269]:
#one agrument 
x = lambda a: a*a

In [271]:
print(x(3))

9

In [272]:
#numbers of arguments
x = lambda a,b,c: a*b+c

In [273]:
print(x(1,2,3))

5

In [277]:
x = lambda a,b,c: a*b+10-c

In [278]:
print(x(1,2,9))

3