In [ ]:
import math as m

In [ ]:
#acos() = Returns the arc cosine of a number
print(m.acos(0.55))
print(m.acos(-0.55))

0.9884320889261531
2.15316056466364

In [ ]:
#math.acosh() = Returns the inverse hyperbolic cosine of a number
print(m.acosh(7))
print(m.acosh(4.9))

2.6339157938496336
2.27180356368105

In [ ]:
#math.asin() = Returns the arc sine of a number
print(m.asin(0.55))
print(m.asin(-0.55))

0.5823642378687435
-0.5823642378687435

In [ ]:
#math.asinh() = Returns the inverse hyperbolic sine of a number
print(m.asinh(7))
print(m.asinh(4.9))

2.644120761058629
2.292635752042407

In [ ]:
#math.atan() =	Returns the arc tangent of a number in radians
print (m.atan(0.39))
print (m.atan(67))

0.37185607384858127
1.5558720618048116

In [ ]:
#math.atan2() = Returns the arc tangent of y/x in radians 
print(m.atan2(8, 5))
print(m.atan2(20, 10))

1.0121970114513341
1.1071487177940904

In [ ]:
#math.atanh() = Returns the inverse hyperbolic tangent of a number
print(m.atanh(0.59))
print(m.atanh(-0.12))

0.6776660677579618
-0.12058102840844404

In [ ]:
#math.ceil() = Rounds a number up to the nearest integer
print(m.ceil(1.4))
print(m.ceil(5.3))

2
6

In [ ]:
#math.comb() = Returns the number of ways to choose k items from n items without repetition and order

# Initialize the number of items to choose from
n = 7

# Initialize the number of possibilities to choose
k = 5

# Print total number of possible combinations
print (m.comb(n, k))

21

In [ ]:
#math.copysign() = Returns a float consisting of the value of the first parameter and the sign of the second parameter
#Return the value of the first parameter and the sign of the second parameter
print(m.copysign(4, -1))
print(m.copysign(-8, 97.21))
print(m.copysign(4, 1))

-4.0
8.0
4.0

In [ ]:
#math.cos() = Returns the cosine of a number (Including negative)
print (m.cos(0.00))
print (m.cos(-1.23))

1.0
0.3342377271245026

In [ ]:
#math.cosh() =	Returns the hyperbolic cosine of a number
print (m.cosh(1))
print (m.cosh(8.90))

1.5430806348152437
3665.986837772461

In [ ]:
#math.degrees() = Converts an angle from radians to degrees
print (m.degrees(8.90))
print (m.degrees(-20))

509.9324376664327
-1145.9155902616465

In [ ]:
#math.dist() =	Returns the Euclidean distance between two points (p and q), where p and q are the coordinates of that point
p = [3]
q = [1]

# Calculate Euclidean distance
print (m.dist(p, q))

2.0

In [ ]:
#math.erf() =	Returns the error function of a number
print (m.erf(0.67))
print (m.erf(1.34))

0.6566277023003051
0.9419137152583653

In [ ]:
#math.erfc() =	Returns the complementary error function of a number 
print (m.erfc(0.67))
print (m.erfc(1.34))

0.3433722976996949
0.058086284741634665

In [ ]:
#math.exp() =	Returns E raised to the power of x
print(m.exp(65))
print(m.exp(-6.89))

1.6948892444103338e+28
0.0010179138409954387

In [ ]:
#math.expm1() =	Returns Ex - 1
print(m.expm1(32))
print(m.expm1(-10.89))

78962960182679.69
-0.9999813562576685

In [ ]:
#math.fabs() =	Returns the absolute value of a number
print(m.fabs(-66.43))

66.43

In [ ]:
#math.factorial() = Returns the factorial of a number (Negative correlation factorial error) 
print(m.factorial(9))

362880

In [ ]:
#math.floor() =	Rounds a number down to the nearest integer (If passes negative value then the result is roundup pattern but not same for the positive)
print(m.floor(0.9))
print(m.floor(-9.9))

0
-10

In [ ]:
#math.fmod() =	Returns the remainder of x/y
# Return the remainder of x/y
print(m.fmod(20, 4))
print(m.fmod(20, 3))

0.0
2.0

In [ ]:
#math.frexp() =	Returns the mantissa and the exponent, of a specified number
#Return mantissa and exponent of numbers
#The mantissa is a decimal fixed-point constant.
print(m.frexp(4))

(0.5, 3)

In [ ]:
#math.fsum() = 	Returns the sum of all items in any iterable 
print(m.fsum([1, 2, 3, 4, 5]))

15.0

In [ ]:
#math.gamma() =	Returns the gamma function at x
print(m.gamma(-0.1))
print(m.gamma(8))

-10.686287021193193
5040.0

In [ ]:
#math.gcd() =	Returns the greatest common divisor of two integers (Restrict to two integers)
#find the  the greatest common divisor of the two integers
print (m.gcd(3, 6))
print (m.gcd(6, 12))

3
6

In [ ]:
#math.hypot() =	Returns the Euclidean norm
#set perpendicular and base
perpendicular = 10
base = 5

#print the hypotenuse of a right-angled triangle
print(m.hypot(perpendicular, base))

11.180339887498949

In [ ]:
#math.isclose() =	Checks whether two values are close to each other, or not (Exact Similar) output as a boolean datatype
print(m.isclose(1.233, 1.4566))
print(m.isclose(1.233, 1.233))
print(m.isclose(1, 2))

False
True
False

In [ ]:
#math.isfinite() =	Checks whether a number is finite or not # This method returns True if the specified number is a finite number, otherwise it returns False.
print(m.isfinite(2000))
print(m.isfinite(0))
print(m.isfinite(float("nan")))
print(m.isfinite(float("inf")))

True
True
False
False

In [ ]:
# Check whether the values are infinite or not
print(m.isinf(56))
print(m.isinf(-45.34))

False
False

In [ ]:
#math.isnan() 	Checks whether a value is NaN (not a number) or not
print (m.isnan (+45.34))
print (m.isnan (float("nan")))

False
True

In [ ]:
#math.isqrt() =	Rounds a square root number downwards to the nearest integer
# Print the square root of different numbers
print (m.sqrt(10))
print (m.sqrt (12))

3.1622776601683795
3.4641016151377544

In [ ]:
print (m.isqrt(10))
print (m.isqrt (12))

3
3

In [ ]:
#math.ldexp() =	Returns the inverse of math.frexp() which is x * (2**i) of the given numbers x and i 
print(m.ldexp(9, 3))
print(m.ldexp(-5, 2))

72.0
-20.0

In [ ]:
#math.lgamma() =	Returns the log gamma value of x (Hence, the log gamma logarithm converts a one-tailed distribution into a two-tailed.)
print(m.lgamma(7))

6.579251212010102

In [ ]:
#math.log() =	Returns the natural logarithm of a number, or the logarithm of number to base
print(m.log(2.7183))
print(m.log(2))

1.0000066849139877
0.6931471805599453

In [ ]:
#math.log10() =	Returns the base-10 logarithm of x
# Return the base-10 logarithm of different numbers
print(m.log10(2.7183))
print(m.log10(2))

0.43429738512450866
0.3010299956639812

In [ ]:
#math.log1p() =	Returns the natural logarithm of 1+x
# Return the log(1+number) for different numbers
print(m.log1p(2.7183))
print(m.log1p(2))

1.3132665745863341
1.0986122886681096

In [ ]:
#math.log2() =	Returns the base-2 logarithm of x
# Return the base-2 logarithm of different numbers
print(m.log2(2.7183))
print(m.log2(2))

1.4427046851812222
1.0

In [ ]:
#math.perm() =	Returns the number of ways to choose k items from n items with order and without repetition (Repeat pattern # work)
# Initialize the number of items to choose from
n = 7

# Initialize the number of items to choose
k = 5

# Print the number of ways to choose k items from n items
print (m.perm(n, k))

2520

In [ ]:
#math.pow() =	Returns the value of x to the power of y
#Return the value of 9 raised to the power of 3
print(m.pow(9, 3))

729.0

In [ ]:
#math.prod() =	Returns the product(*) of all the elements in an iterable
sequence = (2, 2, 2)

#Return the product of the elements
print(m.prod(sequence))

8

In [ ]:
#math.radians() =	Converts a degree value into radians (validate with respect to the radians)
print(m.radians(10))
print(m.radians(-0.165))

0.17453292519943295
-0.0028797932657906437

In [ ]:
#math.remainder() =	Returns the closest value that can make numerator completely divisible by the denominator (round of values)
print (m.remainder(9, 2))
print (m.remainder(9, 3))

1.0
0.0